asttokens
backcall
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
fonttools
importlib-metadata
importlib-resources
ipykernel
ipython
jedi
jupyter-client
jupyter-core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
networkx
numpy
packaging
pandas
parso
pexpect
pickleshare
pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
seaborn
six
stack-data
tornado
traitlets
typing-extensions
tzdata
wcwidth
zipp
